<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>

    <p>{{ "Merci d'etre inscrit à notre site All For Deal,Nous Allons Vous enovoyés les News sur Votre Boite Email" | trans }}</p>
    <p><a href="{{ url('usn_newsletter_unsubscribe',{ 'access_key' : access_key }) }}">{{ 'désincrire du NewsLetter du All For Deal' | trans }}</a></p>

</body>
</html>
